.principal{
  background-image: url("/public/assets/img/logo.jpg");
  color: yellow;
  background-size: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.nav{
  background-image: url("/public/assets/img/fondo.jpg");
  color: white;
  position: fixed;
  background-size: 20%;
background-position-y: center;
}
p.card.text{
  color: black;
}
.horoscope{
  padding: 30px;
  background-color: purple;
}
.tarot{
  background-color: purple;
  padding: 30px;
}

