.principal{
  color: yellow;
}
body{
  background-image: url("/public/assets/img/logo.jpg");

}
.nav{
  background-image: url("/public/assets/img/fondo.jpg");
  color: white;
  position: fixed;
  background-size: 20%;
  background-position-y: center;
}
p.card.text{
  color: black;
}
.horoscope{
  padding: 30px;
  background-color: purple;
  margin-top: 10px;
}
.tarot{
  background-color: purple;
  padding: 30px;
}
.sign{
  background-color: orangered;
  padding: 30px;
}

